.list-eleitoral {
  display: flex;
  flex-direction: row;
}

.header {
display: flex;
justify-content: flex-start;
align-items: start;
padding: 40px;
width: 300px;
min-width: 300px;
height: auto;
}

.content {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}